@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 0 auto;
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {

    .image-container {
        background-image: url('../img/profile1.jpg');
    }

    .container {
        background-color: rgb(199, 170, 127);
        color: aliceblue;
    }

    .navigation ul li {
        border-color: aliceblue;
    }

    .footer ul a {
        color: aliceblue;
    }
}

    .container {
        width: 100%;
    }


    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    

@media (min-width: 768px) {

        .image-container {
            background-image: url('../img/profile2.jpg');
        }
    
        .container {
            background-color: rgb(197, 197, 197);
            color: rgb(56, 56, 56);
        }
    
        .navigation ul li {
            border-color: rgb(56, 56, 56);
        }
    
        .footer ul a {
            color: rgb(56, 56, 56);
        }
}


@media (min-width: 1024px){

    .image-container {
        background-image: url('../img/profile3.jpg');
    }

    .container {
        background-color: rgb(110, 95, 71);
        color: rgb(214, 208, 198);
    }

    .navigation ul li {
        border-color: rgb(214, 208, 198);
    }

    .footer ul a {
        color: rgb(214, 208, 198);
    }
}


@media (min-width: 1200px){

    .image-container {
        background-image: url('../img/profile4.jpg');
    }

    .container {
        background-color: rgb(100, 104, 86);
        color: rgb(185, 212, 188);
    }

    .navigation ul li {
        border-color: rgb(185, 212, 188);
    }

    .footer ul a {
        color: rgb(185, 212, 188);
    }  
    
    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }
}